@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat&family=Open+Sans&display=swap');
:root{
--primary-color:#3ef5c7a8 ;
--secondary-color:#14e773;
--text-dark:#1f2937;
--text-light:#6b7280;
--extra-light:#ffffff;
--max-width:1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
   font-family: 'Lemon', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
}
nav{

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e0dede;
    z-index: 99;
}
.nav__content{
    max-width: var(--max-width);
    padding: 1.5rem 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  

}

nav.logo a{
font-size:var(--max-width);
font-weight: 600;
color:var(--secondary-color);
transition: .3s;
}
nav.logo a:hover{
    color: var(--primary-color);

}
nav.checkbox{
    display: none;
}
nav input{
    display: none;
}
nav.checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a{
    padding: 1.5rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}
ul li a:hover{
    border-top: var(--secondary-color);
    border-bottom: var(--secondary-color);
    color: var(--secondary-color);
}
.section{
    background-color: var(--extra-light);
}
.section__container{
    min-height: 100vh;
    min-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
}
.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}
.action__btns{
    display: flex;
    gap: 1rem;
}
.action__btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.hire__me{
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire__me:hover{
    background-color: var(--secondary-color);
}
.portfolio{
    color: var(--primary-color);
}
.portfolio:hover{
    background-color: var(--primary-color);
    color: #0e0d0d;
}
.image{
    display: grid;
    place-items: center;
}
.image img{
    width: min(25rem,90%);
    border-radius: 140%;
height: 400px;
align-self: baseline;
}
.input-group-btn{
    width: auto;
    color: aqua;
    background-color: #14e773;
}
.send{
    background-color: #1f2937;
    width: 5rem;
    color: #ffffff;
    font-size: 1rem;

}

@media (width < 750px){
    nav .checkbox{
        display:block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh  - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

    }
    nav #checked:checked ~ ul{
        left: 0;

    }
    ul li a{
        font-size: 1.25rem;
    }
    nav a{
        font-size: 3rem;
    }
    .section__container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .image{
        grid-area: 1/1/2/2;
    }
    .action__btns{
        margin: auto;
    }
}